[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./monolith-to-monorepo/config/*,
       ./monolith-to-monorepo/wsgi.py,
       *__init__*
